@font-face {
    font-family: "cubes";
    src: url("../fonts/BloxBrk-M7Ke.ttf");
}

@font-face {
    font-family: "8bit";
    src: url("../fonts/ScreamWhenYoureReadyToDieRegular-6AjD.ttf");
}

@keyframes border {
    0% {box-shadow: 1px 1px cyan;}
    50% {box-shadow: 2px 2px chartreuse;}
    100% {box-shadow: 3px 3px cyan;}
}

.main {
    background-color: darkslateblue;
    text-align: center;
}
.logo_container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
}

.logo_box {
    border-style: solid;
    border-color: cyan;
    border-width: 0.5px;
    text-align: center;
    font-family: "cubes";
    color: greenyellow;
    font-size: 600%;
    box-shadow: 5px 5px magenta;
    animation-name: border;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

.logo_sub {
    font-family: "8bit";
    color:magenta;
    font-size: x-small;
}

.enter_button {
    padding-top: 3%;

}

.button {
    border-style: solid;
    border-color: cyan;
    border-width: 0.5px;
    background-color: darkslateblue;
    font-family: "cubes";
    color: greenyellow;
    font-size: medium;
    text-align: center;
    display: inline-block;
    animation-name: border;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }